.square {
    position: absolute;
    border: 1px;
    border-style: solid;
    bottom: 5px;
    color: #ffffff;
    opacity: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Georgia;
    font-size: x-large;
    transition: transform 0.3s ease, background-color 0.1s ease-in-out, height 0.5s ease;
    border-radius: 2px 3px 0px 0px;
  }
