.screen {
  display: flex;
  flex-direction: row;
}
.board {
    position: relative;
    height: 720px;
    width: 1500px;
    border: 1px solid #ccc;
  }

.speed {
  display: flex;
  align-items: center;
  width: 300px;
}

.speed label {
  white-space: nowrap;
  min-width: 80px;
}